#home {
    // background: url('../img/Wave-new.svg') no-repeat top -150px right -250px / cover;
    background-color: var(--color-white);
    position: relative;

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        display: none;
    }

    .banner-img {
        display: none;
    }
}
.contact-page{
    .banner{
        
    background: url('../img/hospital-contact.png') no-repeat right 100px top -10px/ 55%;
    .title-6{
        font-size:2rem;
    }
    
    .baseline-name{
        padding-left:0;
    }
    }
    .baseline-name{
        text-transform:uppercase;
        font-size:3rem;
    }
}
.faq{
    .banner{
        
    background: url('../img/hospital.png') no-repeat right -70% top 55%/ 85%;
    .baseline{
        
    -webkit-backdrop-filter: saturate(180%) blur(5px);
    backdrop-filter: saturate(180%) blur(5px);
    }
    .title-6{
        font-size:2rem;
    }
    .baseline-name{
        text-transform: uppercase;
    }

}
}
.about{
    
    .baseline {
        
    -webkit-backdrop-filter: saturate(180%) blur(5px);
    backdrop-filter: saturate(180%) blur(5px);
    padding:5px;
    text-align:center;
    background-color:rgba(255,255,255,0.5);
    border-radius:5px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition:0.3s;
    &:hover{
        background-color:rgba(255,255,255,0.7);
        -webkit-backdrop-filter: saturate(180%) blur(10px);
        backdrop-filter: saturate(180%) blur(10px)
    }
    }
    .baseline-name{
        border-radius:2px;
        text-transform: uppercase;
    }
    .banner{
        
    background: url('../img/about-us.jpg') no-repeat right top -100px/ cover;
    align-items: center;
}

}
.banner {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    background: url('../img/Bg.png') no-repeat right -70% top 45%/ 85%;
    padding: rem(100) 0;

    a {
        text-decoration: none;
    }

    .baseline-link {
        background-image: var(--gradient-1);
        border-radius: rem(5);
        padding: 0.8rem 1.8rem;
        margin-top: 1rem;
        display: block;
        width: max-content;
        color: var(--color-white);
        box-shadow: 0 0 6px var(--color-green);
    }

    .banner-img {
        max-width: 500px;

    }


    img {
        width: 100%;
        height: auto;
        display: block;
    }

    .baseline {
        width: 55%;
        margin-left: 4rem;

        p {
            color: var(--color-dark);
        }
    }

    h6,
    .baseline-welcome {
        font-size: 1.5em;
        color: var(--color-gray);
        margin-bottom: 0.5rem;
    }

    h3,
    .baseline-name {
        font-size: var(--size-title);
        margin: 1rem 0;
    }

    .baseline-name {
        
    -webkit-backdrop-filter: saturate(180%) blur(5px);
    backdrop-filter: saturate(180%) blur(5px);
        max-width: 85%;
        word-wrap: break-word;
        background-clip: text;
        -moz-background-clip: text;
        -webkit-background-clip: text;
        background-size:cover;
        background-position: center;
        color:transparent;
        padding:1rem;
        padding-right:0;
        transition: var(--topbar-transition);
        background-color: var(--header-background);
        @include gradient(45deg,$color-green,$color-title);
        &:hover{
            @include gradient(-75deg,$color-green,$color-title);

        }
    }

    p {
        font-size: 1.1rem;
        color: var(--color-gray);
    }
}

@media only screen and(max-width:991px) {
    :root{
        
    --size-title:3rem;
    }
    #home {
        min-height: 100vh;

        .banner {
            height: inherit;
            padding: 4rem 0;
            min-height: auto;
            background-position:right -150% top 100%;
            
    .baseline-name {
        max-width: 90%;
    }
        }
    }

    @media only screen and(max-width:850px) {
    
        :root{
        
            --size-title:2.8rem;
            }
        #home {
            min-height: inherit;
            height: inherit;
            .banner {
                background-position:right -150% top 75%;

            }
    
        }
    }
    h3,
    .baseline-name {
        font-size: 3em;
    }
}

@media only screen and(max-width:750px) {
    
    :root{
        
        --size-title:2.5rem;
        }
    #home {
        .banner-img {
            display: initial;
        }
    }

    .container-centered {
        justify-content: center;
    }

    .banner {
        flex-direction: column;
        justify-content: initial;
        align-items: center;
        background: none;

        h3,
        .baseline-name {
            font-size: 2em;
            margin: 1rem 0;
            max-width: 100%;
            word-break: normal;
        }

        .baseline {
            margin-left: 0;
        }

        .banner-img {
            margin-bottom: 2rem;
        }
    }
}

@media only screen and(max-width:620px) {
    .container-centered {
        justify-content: center;
    }

    .block {

        justify-content: center;
    }
}

@media only screen and(max-width:450px) {
    #home{
        .banner{
            padding-left:0;
            .baseline-link{
                padding: 0.8rem 0.8rem;
            }
        }
    }
}