@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

*,*::before,*::after{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html{
    scroll-behavior: smooth;
    touch-action: manipulation;
    font-feature-settings: "rlig" 1,"calt" 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;

}
body{
    font-family:var(--font-primary);
    font-weight:400;
    color:var(--color-dark);
    background-color: $bg-item;
    font-family: var(--font-primary);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--color-white);
    color: var(--color-dark);
    scroll-padding-top: var(--header-height);
}
h1,h2,h3,h4,h5,h6{
    font-family:var(--font-secondary);
    line-height:1.2em;
    color:var(--color-title);
    text-align:left;
}
input,button{

    font-family:var(--font-primary);
}
a{
    color:inherit;
    transition: color 0.3s, opacity 0.3s;
    opacity:0.85;
    &:hover{
        opacity: 1;
    }
}