%container {
    max-width: 1150px;
    margin: 0 auto;
}

.container {
    @extend %container;
}

.container-centered {
    @extend %flex-center-row-y;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

%shadow-x {
    box-shadow: 0 rem(15) rem(45) rem(-25) var(--color-dark);
}

%shadow-y {
    box-shadow: rem(15) 0 rem(45) rem(-25) var(--color-dark);
}

%flex {
    display: flex;
}

%flex-center-row-x {
    @extend %flex;
    justify-content: center;
}

%flex-center-row-y {
    @extend %flex;
    align-items: center;
}

.flex {
    @extend %flex;
}

.center-column-x {
    @extend %flex-center-row-y;
    flex-direction: column;

}

.circle {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        z-index: -1;
        width: 550px;
        height: 550px;
        // display:none;

    }

    &::before {

        background-image: radial-gradient(circle closest-side, var(--color-gray), var(--color-title));
        border-radius: 50%;
        top: -150px;
        right: 5px;
        opacity: 0.07;
    }
}
.title-1{
    font-size:3rem;
}
.title-2{
    font-size:2.5rem;
}
.title-3{
    font-size:2rem;
}
.title-4{
    font-size:1.6rem;
}
.title-5{
    font-size:1.4rem;
}
.title-6{
    font-size:1.2rem;
}
.dots {
    position: relative;

    &::after{
        content: '';
        position: absolute;
        z-index: -1;
        width:300px;
        height: 300px;
        // display:none;

    }

    &::after {
        left: 5px;
        bottom: -75px;
        background: url('../img/dots.svg') no-repeat left bottom / contain;
        opacity: 0.17;
    }
}

.center-column-y {
    @extend %flex-center-row-x;
    flex-direction: column;

}

.center-row-x {
    @extend %flex-center-row-x;
}

.center-row-y {
    @extend %flex-center-row-y;
}

.flex-center-row {
    @extend %flex-center-row-x;
    @extend %flex-center-row-y;
}

.center-column ,.text-center-flex{
    @extend %flex-center-row-x;
    @extend %flex-center-row-y;
    flex-direction: column;
}

.shadow-x {
    @extend %shadow-x;
}

.shadow-y {
    @extend %shadow-y;
}


.info-item {
    border-radius: rem(10);
    cursor: pointer;
    margin: 0.5rem;
    @include img_responsive;
}
.gradient-1{
    @include gradient(45deg,$color-title,$color-green);

}
.gradient-2{
    @include gradient(-45deg,$color-green,$color-title);

}
.gradient-3{
    @include gradient(-90deg,$color-title,$color-green);

}
.gradient-4{
    @include gradient(90deg,$color-green,$color-title);

}

.gradient-5{
    @include gradient(90deg,$color-title,$color-green);

}
.card {
    max-width: 500px;
    min-height: 200px;
    margin: rem(32) rem(8);
    border-radius: rem(10);
    margin-bottom: 0;
    @include img_responsive;
    .card-content{
        
    padding: 1rem;
    }

}
.card-header{
    background-color: lighten($bg-item,3);
    border-bottom:0.5px solid $bg-item;

}
.card-date{
    font-weight:300;
    font-size:rem(14);
    
}
a.blog-title{
    text-decoration:none;
    &::after{
        content:'';
        display:block;
        width:0;
        height:5px;
        background-color:currentColor;
        transition:width 0.3s;
        
    }
    &:hover{
        &::after{
            width: 50%;
        }
    }
    
}

.blog-title{
    display:block;
    width:100%;
    font-size:1.5rem;
    font-weight:bold;
    margin-bottom:1rem;
    margin-top:0.5rem;
    
}
.text-center{
    text-align:center;
}
.logo{
img{
    @include img_responsive;
}
}

/*<!--============================= BUTTON humberger ================= -->*/

.box {
    width: $burger-size;
    height: $burger-size;
    margin: rem(10);
    border: none;
    cursor: pointer;
    position: relative;
    background-color: var(--color-title);

}

.container-lines {
    width: $burger-content-width;
    height: $burger-content-height;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    color:var(--color-link-white);

    .line {
        position: absolute;
        width: $burger-content-width;
        height: $burger-line-height;
        background-color: currentColor;

        &:nth-child(1) {
            top: $top-1-burger;
        }

        &:nth-child(2) {
            width: 50%;
            right: 0;
            top: $top-2-burger;
        }

        &:nth-child(3) {
            top: $top-3-burger;
        }
    }
}


/* -----------ANIME 1--------------*/

.b1 {
    .line {

        &:nth-child(3),
        &:nth-child(1) {
            transform: rotate(0deg);
            transition: transform 0.3s ease-in-out, top 0.3s 0.3s ease-in-out;
        }

        &:nth-child(2) {

            transition: opacity 0.3s 0.3s ease-in-out;
        }
    }

    &.active {
        .line {
            &:nth-child(1) {

                transform: rotate(45deg);
            }

            &:nth-child(1),
            &:nth-child(3) {
                top: $top-2-burger;
                transition: top 0.3s ease-in-out, transform 0.3s 0.3s ease-in-out;
            }

            &:nth-child(2) {
                opacity: 0;
                transition: opacity 0.3s ease-in-out;

            }

            &:nth-child(3) {

                transform: rotate(-45deg);
            }
        }
    }
}


/* ANIME 2 -----------------------*/

.b2 {
    .line {

        &:nth-child(1) {

            transition: top 0.3s 0.3s ease-in-out;
        }

        &:nth-child(3) {
            transform: rotate(0deg);
            transition: transform 0.3s ease-in-out, top 0.3s 0.3s ease-in-out;
        }

        &:nth-child(2) {

            transition: opacity 0.3s 0.3s ease-in-out;
        }
    }

    &.active {
        .line {

            &:nth-child(1),
            &:nth-child(3) {
                top: $top-2-burger;
                transition: top 0.3s ease-in-out, transform 0.3s 0.3s ease-in-out;
            }

            &:nth-child(2) {
                opacity: 0;
                transition: opacity 0.3s ease-in-out;

            }

            &:nth-child(3) {

                transform: rotate(-90deg);
            }
        }

    }
}

/* --------ANIME 3 -------------*/
.b3 {
    .container-lines {

        transition: transform 0.3s ease-in-out;
    }

    .line {

        &:nth-child(3),
        &:nth-child(1) {
            transform: rotate(0deg);
            transition: transform 0.3s ease-in-out, top 0.3s 0.3s ease-in-out;
        }

        &:nth-child(2) {

            transition: opacity 0.3s 0.3s ease-in-out;
        }
    }

    &.active {
        .container-lines {
            transition: transform 0.3s 0.3s ease-in-out;
            transform: translate(-50%, -50%) rotate(360deg);
        }

        .line {
            &:nth-child(1) {

                transform: rotate(45deg);
            }

            &:nth-child(1),
            &:nth-child(3) {
                top: $top-2-burger;
                transition: top 0.3s ease-in-out, transform 0.3s 0.3s ease-in-out;
            }

            &:nth-child(2) {
                opacity: 0;
                transition: opacity 0.3s ease-in-out;

            }

            &:nth-child(3) {

                transform: rotate(-45deg);
            }
        }

    }
}

/*

<!--============================= FIN BUTTON humberger ================= -->
*/
.rounded{
    border-radius:rem(4);
}